<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div id="menu" th:fragment="menu">
    <ul class="nav nav-list">
        <li class="active"><a href="#">Home</a></li>
        <li><a th:href="'/cloudschool/profile/' + ${user.username}">Profile</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Discussions</a></li>
        <li><a href="/cloudschool/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>