<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.realtech.cloudschool.security" />

    <http auto-config="true" use-expressions="true" access-denied-page="/error/401.html">
        <intercept-url pattern="/home" access="isAuthenticated()" />
        <intercept-url pattern="/error/*" access="permitAll" />
        <form-login login-page="/login" default-target-url="/index.html" authentication-failure-url="/login-again" />
        <logout logout-url="/logout" invalidate-session="true" logout-success-url="/login" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <password-encoder ref="userPasswordEncoder"/>
            <jdbc-user-service data-source-ref="cloudSchoolDataSource"
                    users-by-username-query="select username, password, enabled from user where username = ?" />
        </authentication-provider>
    </authentication-manager>

</beans:beans>