<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security.xsd">

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="supervisor" />
                <user name="sanjoy" password="sanjoy" authorities="user" />
            </user-service>
        </authentication-provider>
    </authentication-manager>


    <http auto-config="true" use-expressions="true" access-denied-page="/error/401.html">
        <intercept-url pattern="/home" access="isAuthenticated()" />
        <intercept-url pattern="/error/*" access="permitAll" />
        <form-login login-page="/login" default-target-url="/" authentication-failure-url="/login-again" />
        <logout logout-url="/logout" invalidate-session="true" logout-success-url="/login" />
    </http>

</beans:beans>