<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <title>CLOUD SCHOOL</title>
</head>
<body>
    <div th:if="${user != null}">
        <p>Hello  <b th:text="${user.firstname}"></b> Welcome to Cloud School</p>
        <p>Your Id is <b th:text="${user.id}"></b></p>
        <p>Your username is <b th:text="${user.username}"></b></p>
        <p>Account Created: <b th:text="${user.createDate}"></b></p>
        <p>Last updated: <b th:text="${user.updateDate}"></b></p>
    </div>
    <a href="/cloudschool/logout">Logout</a>
</body>
</html>