<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="includes/header :: header"></head>

    <body>

        <div class="container">
            <div class="home-top">
                <div class="pull-right inline">
                    <h1>Cloud School</h1>
                    <form class="form-inline">
                        <input type="text" class="input-small" id="j_username" name="j_username"  placeholder="Email"/>
                        <input type="password" class="input-small" id="j_password" name="j_password" placeholder="Password" />
                        <button class="btn" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
            <div class="home-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span6">
                            <fieldset>
                                <legend>Explore the learning possibilities</legend>
                                <h4><i class="icon-hand-right"></i> Create learning group</h4>
                                <h4><i class="icon-hand-right"></i> Ask question</h4>
                                <h4><i class="icon-hand-right"></i> Seek answer</h4>
                                <h4><i class="icon-hand-right"></i> Share experience</h4>
                            </fieldset>
                        </div>
                        <div class="span6">
                            <form class="form-signup" th:action="@{'/register'}" th:object="${userCommand}" method="POST">
                                <center>
                                <h2 class="form-signup-heading">Sign Up</h2>
                                <input type="text" class="input-block-level" id="inputFirst" placeholder="First Name" th:field="*{firstname}" />
                                <input type="text" class="input-block-level" id="inputLast" placeholder="Last Name" th:field="*{lastname}" />
                                <input type="text" class="input-block-level" id="inputEmail" placeholder="Email" th:field="*{email}" />
                                <input type="text" class="input-block-level" id="inputReenterEmail" placeholder="Re-enter Email" />
                                <input type="text" class="input-block-level" id="inputUsername" placeholder="Username" th:field="*{username}" />
                                <input type="password" class="input-block-level" id="inputPassword" placeholder="New Password" th:field="*{password}" />
                                <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div th:include="includes/footer :: footer"></div>

    </body>
</html>