<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/header :: header"></head>

<body>

<div class="container">

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12">
                        <br/>
                        <div th:include="includes/top :: top"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="well">
                            <fieldset>
                                <div style="font:italic bold 1.3em Georgia, serif;">Start A Great Learning Journey</div>
                                <hr/>
                                <h4>Create learning group</h4>
                                <h4>Ask question</h4>
                                <h4>Seek answer</h4>
                                <h4>Share experience</h4>
                            </fieldset>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="well">
                            <form class="form-signup" th:action="@{'/register'}" th:object="${userCommand}"
                                  method="POST">
                                <center>
                                    <h2 class="form-signup-heading">Sign Up</h2>
                                    <div class="alert alert-error" th:if="${errors}">
                                        <p th:text="${#messages.msgOrNull(error.codes[1])} ? #{${error.codes[1]}} : ${error.defaultMessage}" th:each="error : ${errors}" />
                                    </div>
                                    <input type="text" class="input-block-level" id="inputFirst" placeholder="First Name"
                                           th:field="*{firstname}"/>
                                    <input type="text" class="input-block-level" id="inputLast" placeholder="Last Name"
                                           th:field="*{lastname}"/>
                                    <input type="text" class="input-block-level" id="inputEmail" placeholder="Email"
                                           th:field="*{email}"/>
                                    <input type="text" class="input-block-level" id="inputUsername"
                                           placeholder="Username"
                                           th:field="*{username}"/>
                                    <input type="password" class="input-block-level" id="inputPassword"
                                           placeholder="New Password" th:field="*{password}"/>
                                    <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="includes/footer :: footer"></div>

</body>
</html>